@model CableViewModel
@{
    ViewData["Title"] = "Cable Borehole " + Model.Id;
}
<table class="ViewTable">
    <tr>
        <td>@Html.DisplayNameFor(i => i.Id)</td>
        <td>@Html.DisplayFor(i => i.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(i => i.X)</td>
        <td>@Html.DisplayFor(i => i.X)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(i => i.Y)</td>
        <td>@Html.DisplayFor(i => i.Y)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(i => i.Depth)</td>
        <td>@Html.DisplayFor(i => i.Depth)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(i => i.CableType)</td>
        <td>@Html.DisplayFor(i => i.CableType)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(i => i.CableStrength)</td>
        <td>@Html.DisplayFor(i => i.CableStrength)</td>
    </tr>
</table>
@Html.ActionLink("Go Back to Borehole List", "Index")