@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<BoreholeViewModel>
@{
    ViewData["Title"] = "Borehole List";
}
<div id="AddBoreholeButton">@Html.ActionLink("Add Borehole", "Add")</div>
<div id="BoreholeData">
    <table>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Id)</td>
                <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().X)</td>
                <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Y)</td>
                <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Depth)</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
        @foreach (BoreholeViewModel vm in Model)
        {
            <tr>
                <td>@Html.DisplayFor(bh => vm.Id)</td>
                <td>@Html.DisplayFor(bh => vm.X)</td>
                <td>@Html.DisplayFor(bh => vm.Y)</td>
                <td>@Html.DisplayFor(bh => vm.Depth)</td>
                <td>@Html.ActionLink("Delete", "Delete", "Borehole", new {id = vm.Id})</td>
            </tr>
        }
        </tbody>
    </table>
</div>
