@using BoreholeMVCUI.Models.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<BoreholeViewModel>
@{
    ViewData["Title"] = "Borehole List";
}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="AddBoreholeButton" class="btn btn-outline-primary">@Html.ActionLink("Add Cable Borehole", "AddCable")</div>
            <div id="AddBoreholeButton" class="btn btn-outline-primary">@Html.ActionLink("Add Drill Borehole", "AddDrill")</div>
            <div id="BoreholeData" class="">
                <table>
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Id)</td>
                            <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().X)</td>
                            <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Y)</td>
                            <td>@Html.DisplayNameFor(bh => bh.FirstOrDefault().Depth)</td>
                            <td>Options</td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (BoreholeViewModel vm in Model)
                    {
                        <tr onclick="location.href = '@Url.Action("Details", "Borehole", new { id=vm.Id })'">
                            @if(vm.BoreholeType == BoreholeMVCUI.Models.Enums.BoreholeType.Cable)
                            {
                                <td><i class="fa-solid fa-bore-hole"></i></td>
                            }
                            else if (vm.BoreholeType == BoreholeMVCUI.Models.Enums.BoreholeType.Drill)
                            {
                                <td><i class="fa-solid fa-arrows-down-to-line"></i></td>
                            }
                            else
                            {
                                <td><i class="fa-solid fa-ring"></i></td>
                            }
                            <td>@Html.DisplayFor(bh => vm.Id)</td>
                            <td>@Html.DisplayFor(bh => vm.X)</td>
                            <td>@Html.DisplayFor(bh => vm.Y)</td>
                            <td>@Html.DisplayFor(bh => vm.Depth)</td>
                            <td onClick='event.stopPropagation();'><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@vm.Id">Delete</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete Borehole</h5>
            </div>
            <div class="modal-body">
                <div id="deleteMessage">Are you sure you want to delete this borehole?</div>
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteButton" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var modal = $("#deleteModal");
        modal.on('show.bs.modal', function (event) {

            var button = event.relatedTarget;
            var boreholeId = button.getAttribute('data-bs-id');

            var modalMessage = "Are you sure you want to delete borehole with ID " + boreholeId;
            modal.find(".modal-body #deleteMessage").text(modalMessage);
            modal.find(".modal-footer #deleteButton").on("click", function () { location.href = "@Url.Action("Delete", "Borehole")/" + boreholeId; });
        });

        modal.on('hide.bs.modal', function (event) {
            modal.find(".modal-footer #deleteButton").unbind('click');
        });
    </script>
}